{% load admin_static %}
{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
	<meta charset="utf-8">
	{% load i18n %}
	<title>{% block title %}{{ title }} | {% trans 'MobRelease' %}{% endblock %}</title>
	<link rel="stylesheet" href="{% static "css/styles.css" %}">
	<meta name="viewport" content="width = device-width">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  {% if GOOGLE_ANALYTICS_DOMAIN%}
  ga('create', '{{ GOOGLE_ANALYTICS_PROPERTY_ID }}', '{{ GOOGLE_ANALYTICS_DOMAIN }}');
  {% else %}
  ga('create', '{{ GOOGLE_ANALYTICS_PROPERTY_ID }}', {
        'cookieDomain': 'none'
    });
  {% endif %}
  ga('send', 'pageview');

</script>
</head>
<body>
	<header>
		<h1>Concrete Solutions</h1>
	</header>

	<article>
	    {% block content %}
	    {{ content }}
	    {% endblock %}
	</article>
	
	<footer>
		
	</footer>
</body>
</html>
